APP_PORT=8070
POSTGRES_PORT=3300
POSTGRES_DB=utfpr_finder
POSTGRES_USER=utfpr_finder
POSTGRES_PASSWORD=utfpr-local-db

APP_DB_USER=finder_runtime
APP_DB_PASSWORD=utfpr-local-app
SESSION_COOKIE_SECURE=false

BOOTSTRAP_ORGANIZACAO_NOME=UTFPR
BOOTSTRAP_ORGANIZACAO_TIPO=UNIVERSIDADE
BOOTSTRAP_ADMIN_NOME=Administrador
BOOTSTRAP_ADMIN_LOGIN=admin
BOOTSTRAP_ADMIN_SENHA=admin-local-123
